<div class="banner">
    <div class="card back">
        <div class="cid">000</div>
    </div>
    <div class="card front">
        <div class="content">
            <img src="../../../assets/images/card-logo.svg"
                 class="logo" />
            <div class="number">0000 0000 0000 0000
            </div>
            <div class="customer">
                <div class="name">Jane Appleseed</div>
                <div class="date">00/00</div>
            </div>

        </div>

    </div>







</div>