<div class="banner">
    <div class="card back">
        <div class="cid">{{cid}}</div>
    </div>
    <div class="card front">
        <div class="content">
            <img src="../../../assets/images/card-logo.svg"
                 class="logo" />
            <div class="number">{{number[0]}} {{number[1]}} {{number[2]}} {{number[3]}}
            </div>
            <div class="customer">
                <div class="name">{{name}}</div>
                <div class="date">{{month}}/{{year}}</div>
            </div>

        </div>

    </div>







</div>
