.container{
display: flex;
flex-direction: column;
justify-content: center;
}

app-footer {
  width: 100vw;
  margin: 5px;
  position: static;
  bottom: 0;
}

/* Desktop Media Queries */
@media screen and (min-width: 1175px) {
  .container{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  app-form{
    position: absolute;
    left: 800px;
    top: 200px;

  }
  app-footer {
    margin: 5px 0 5px auto;
    position: fixed;

  }

}
