$global-font: 'Space Grotesk', sans-serif;

$active-border-gradient-from: hsl(249, 99%, 64%);
$active-border-gradient-to: hsl(278, 94%, 30%);
$neutral-white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);
$valid-green: #42a948;
$error-red: hsl(0, 100%, 66%);

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin body-s {
  font-family: $global-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@mixin body-m {
  font-family: $global-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin body-l {
  font-family: $global-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin heading-l {
font-family: $global-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

@mixin heading-xl {
  font-family: $global-font;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  text-align: center;
  color: $neutral-white;
}
