@use '/src/variables';

section {
  margin-top: 100px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 25px auto;
  width: 327px;
}
label {
  @include variables.body-m;
  margin-top: 20px;
  padding: 5px;
  color: variables.$very-dark-violet;
  padding-top: 30px;
}

input {
  border-radius: 8px;
  background: variables.$neutral-white;
  border: 1px solid variables.$light-grayish-violet;
  padding: 0 2px;
}

.control {
  margin: 10px auto 15px auto;
}

.control.large {
  padding: 0 0 0 10px;
  height: 45px;
  width: 327px;
}
.control.medium {
  padding: 0 0 0 10px;
  height: 45px;
  width: 164px;
  border-radius: 8px;
}
.control.small {
  padding: 0 0 0 10px;
  margin: 10px 15px 15px 0;
  height: 45px;
  width: 52px;
}
.group-date {
 width: 152px;
}
.group-cid {
  width: 164px;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 327px;
}
span{
  margin: 5px 0;
  @include variables.body-s;
}
input:focus {
  border-color: variables.$valid-green;
  outline: 0;
  box-shadow: inset 0 1px 1px variables.$very-dark-violet,0 0 8px variables.$light-grayish-violet;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid variables.$valid-green;
}

input.ng-invalid.ng-touched {
  border-color: variables.$error-red;
  border: 1px solid variables.$error-red;
  outline: 0;
  box-shadow: inset 0 1px 1px variables.$very-dark-violet,0 0 8px variables.$light-grayish-violet;
}

/* confirmation */
.confirm {
  @include variables.flex-column;
  align-items: center;
  min-height: 291px;
  width: 100%;
  margin: 50px 0;
}

.confirm p{
  @include variables.heading-l;
}

img {
  height: 80px;
  width: 80px;
  margin: 25px;
}

p{
  @include variables.heading-l;
  color: variables.$dark-grayish-violet;
  margin: 10px;
}


