section {
  margin-top: 100px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 25px auto;
  width: 327px;
}
label {
  margin-top: 20px;
  padding: 5px;
  color: var(--very-dark-violet);
  padding-top: 30px;
}
input {
  border-radius: 8px;
  background: var(--neutral-white);
  border: 1px solid var(--light-grayish-violet);
  padding: 0 2px;
}

.control {
  margin: 10px auto 15px auto;
}
.control.large {
  padding: 0 0 0 10px;
  height: 45px;
  width: 327px;
}
.control.medium {
  padding: 0 0 0 10px;
  height: 45px;
  width: 164px;
  border-radius: 8px;
}
.control.small {
  padding: 0 0 0 10px;
  margin: 10px 15px 15px 0;
  height: 45px;
  width: 52px;
}
.group-date {
  width: 152px;
}
.group-cid {
  width: 164px;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 327px;
}
span{
  margin: 5px 0;
}
input:focus {
  border-color: #42a948;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.ng-valid[required],
.ng-valid.required {
  border-left: 2px solid #42a948;
}

input.ng-invalid.ng-touched {
  border-color: var(--error-red);
  border: 1px solid var(--error-red);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/* confirmation */
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 291px;
  width: 100%;
  margin: 50px 0;
}
img {
  height: 80px;
  width: 80px;
  margin: 25px;
}
p.heading-l {
  color: var(--dark-grayish-violet);
  margin: 10px;
}


