section {
  margin: 100px auto;
  width: 100%;
  /* padding: auto; */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 50px auto;
  /* height: 328px; */
  width: 327px;
  /* color: var(--light-grayish-violet); */
}
label {
  color: var(--very-dark-violet);
  /* padding-top: 30px;
  padding-bottom: 50px; */
  /*  */
}
input{
  /* margin: 40px 0 80px 0; */
  border-radius: 8px;
  background: var(--neutral-white);
  border: 1px solid var(--light-grayish-violet);
  /* color: var(--light-grayish-violet) !important; */
  opacity: 50%;
  /* padding: 0 2px; */
}

.control{
  /* color: var(--light-grayish-violet) !important; */
  margin: 5px 0 10px 0;
}
.control.large {
  padding: 0 0 0 15px;
  height: 45px;
  width: 327px;

}
.control.medium {
  padding: 0 0 0 10px;
  height: 45px;
  width: 164px;
  border-radius: 8px;

}
.control.small {
  padding: 0 0 0 10px;
  margin: 5px 10px 10px 0;
  height: 45px;
  width: 52px;

}
.group-date {
  width: 152px;
  /* display: inline-block; */
}
.group-cid {
  width: 164px;
  /* display: inline-block; */
}
.row{
  display: flex;
  justify-content: space-between;
  width: 327px;
  height: 69px;
}

.ng-valid[required], .ng-valid.required  {
 border-left: 1px solid #42A948;
}
input.ng-invalid.ng-touched{
  border: 1px solid var(--error-red)
  }


