<section>

  <!-- template driven cardholderForm-->
  <div *ngIf="!submitted">
    <form (ngSubmit)="onSubmit()"
          #f="ngForm">
      <div id="cardholder-info"
           ngModelGroup="cardholderInfo"
           #cardholderInfo="ngModelGroup">

        <!-- name input  -->
        <div class="form-group">
          <label for="name"
                 class="body-m">Cardholder Name</label>
          <input type="text"
                 id="name"
                 class="control large heading-l"
                 [(ngModel)]="cardholder.name"
                 name="name"
                 placeholder="e.g. Jane Appleseed"
                 required
                 #name="ngModel"
                 minlength="6"
                 pattern="^[\w'\-,.]*[^_!¡?÷?¿\/\\+=@#$%ˆ&*(){}|~<>;:[\]]*$"
                 (keyup)="addNewInfo(cardholder)">
          <span *ngIf="!name.valid && name.touched"
                class="help-block alert alert-danger body-s">Name is required</span>
        </div>

        <!-- card number input  -->
        <div class="form-group">
          <label for="number"
                 class="body-m">Card Number</label>
          <input type="text"
                 id="number"
                 class="control large heading-l"
                 [(ngModel)]="cardholder.number"
                 name="number"
                 placeholder="e.g. 1234 5678 9123 0000"
                 required
                 minlength="16"
                 maxlength="16"
                 pattern="^6011-?\d{4}-?\d{4}-?\d{4}$ || (^3[0-9]{15}$)|(^(2131|1800)[0-9]{11}$) || ^[34|37][0-9]{14}$ || (^30[0-5][0-9]{11}$)|(^(36|38)[0-9]{12}$) || ^4[0-9]{6,}$ || (?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12}"
                 #number="ngModel"
                 (keyup)="addNewInfo(cardholder)">
          <span *ngIf="!number.valid && number.touched"
                class="help-block alert alert-danger body-s">Please enter a Valid Card Number.<br> <i>Visa, Discover,
              MasterCard, American
              Express, JCB or Diner's Club</i> <br></span>
        </div>
        <!--
          Regex for Leading Card Networks
          Master Card(2-Bin, 5-Bin both):"(?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12}"
          Visa: "^4[0-9]{6,}$"
          Diner's Club: "(^30[0-5][0-9]{11}$)|(^(36|38)[0-9]{12}$)"
          American Express: "^[34|37][0-9]{14}$"
          JCB: "(^3[0-9]{15}$)|(^(2131|1800)[0-9]{11}$)"
          Discover: "^6011-?\d{4}-?\d{4}-?\d{4}$"
         -->
        <!-- date inputs  -->
        <div class="row">
          <div class="form-group-date">
            <label for="date"
                   class="body-m"> Exp. Date (MM/YY)</label>

            <!-- month input  -->
            <div class="input-group">
              <input type="text"
                     id="month"
                     class="control small heading-l"
                     [(ngModel)]="cardholder.month"
                     name="month"
                     placeholder="MM"
                     required
                     month
                     #month="ngModel"
                     pattern="0[1-9]|1[0-2]"
                     minlength="2"
                     maxlength="2"
                     (keyup)="addNewInfo(cardholder)">

              <!-- year input  -->
              <input type="text"
                     id="year"
                     class="control small heading-l"
                     [(ngModel)]="cardholder.year"
                     name="year"
                     placeholder="YY"
                     required
                     year
                     #year="ngModel"
                     minlength="2"
                     maxlength="2"
                     pattern="[2][2-8]"
                     (keyup)="addNewInfo(cardholder)">
            </div>
          </div>

          <!-- cc id input -->
          <div class="group-cid">
            <label for="cvc"
                   class="body-m">CVC</label>
            <input type="text"
                   class="control medium heading-l"
                   id="cid"
                   [(ngModel)]="cardholder.cid"
                   placeholder="e.g. 123"
                   required
                   minlength="3"
                   maxlength="3"
                   name="cid"
                   #cid="ngModel"
                   pattern="^[0-9][0-9][0-9]"
                   (keyup)="addNewInfo(cardholder)" />
          </div>
        </div>
        <div *ngIf="!month.valid && month.touched"> <span class="help-block alert alert-danger body-s">
            Please enter a valid month
          </span><br></div>
        <div *ngIf="!year.valid && year.touched"><span class="help-block alert alert-danger body-s">
            Please enter a valid year
          </span><br></div>
        <div *ngIf="!cid.valid && cid.touched"><span class="help-block alert alert-danger body-s">
            Valid CVC is required
          </span></div>

      </div>
      <button type="submit"
              class="heading-l"
              [disabled]="!f.valid">
        Confirm
      </button>
    </form>
  </div>
  <!-- display form confirmation screen -->
  <div *ngIf="submitted">
    <section class="confirm">
      <!-- TO DO => OPTIONAL move this to <app-confirmation></app-confirmation>  -->
      <img src="../../../assets/images/icon-complete.svg" />
      <p class="heading-xl">
        Thank you!</p>
      <p class="heading-l">We've added your card details</p>
      <button type="button"
              class="heading-l"
              (click)="onFormReset()">Continue</button>
    </section>
  </div>
</section>
