<section>
  <!-- <div class="row"
       *ngIf="!submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Name: {{ cardholder.name }} </p>
      <p>number: {{ cardholder.number }} </p>
      <p>month {{ cardholder.date.month }} </p>
      <p>year: {{ cardholder.date.year }} </p>
      <p>cid: {{ cardholder.cid }} </p>
    </div>
  </div>
  <hr> -->
  <div *ngIf="submitted">
<app-confirmation>

  </app-confirmation>
  </div>


  <div *ngIf="!submitted">
    <form (ngSubmit)="onSubmit()"
          #f="ngForm">
      <!-- <div id="cardholder-info"
      ngModelGroup="cardholderInfo"
             #cardholderInfo="ngModelGroup"> -->


      <div class="form-group">
        <label for="name"
               class="body-m">Cardholder Name</label>
        <input type="text"
               class="control large heading-l"
               id="name"
               [(ngModel)]="cardholder.name"
               name="name"
               placeholder="e.g. Jane Appleseed"
               required
               #name="ngModel">
        <span *ngIf="!name.valid && name.touched"
              class="help-block alert alert-danger">Name is required</span>

      </div>

      <div class="form-group">
        <label for="number"
               class="body-m">Card Number</label>
        <!-- TODO use one/two way binding to track keystroke -->
        <input type="text"
               class="control large heading-l"
               id="number"
               [(ngModel)]="cardholder.number"
               name="number"
               placeholder="e.g. 1234 5678 9123 0000"
               required
               minlength="16"
               maxlength="16"
               #number="ngModel">
        <span *ngIf="!number.valid && number.touched"
              class="help-block alert alert-danger">Plese enter a 16 digit Valid Card Number</span>

      </div>




      <div class="row">
        <div class="group-date">
          <div id="cardholder-date"
               ngModelGroup="cardholderDate"
               #cardholderDate="ngModelGroup">
            <label for="date"
                   class="body-m"> Exp. Date (MM/YY)</label>
            <div class="input-group">
              <input type="text"
                     class="control small heading-l"
                     id="month"
                     [(ngModel)]="cardholder.date.month"
                     placeholder="MM"
                     required
                     name="month"
                     #month="ngModel"
                     >


              <input type="text"
                     class="control small heading-l"
                     id="year"
                     [(ngModel)]="cardholder.date.year"
                     placeholder="YY"
                     required
                     name="year"
                     #year="ngModel">
              <!-- <div [hidden]="year.valid || year.pristine"
                     class="alert alert-danger">
                    Valid user Number is required
                </div> -->
            </div>
          </div>
        </div>

        <div class="group-cid">
          <label for="cvc"
                 class="body-m">CVC</label>
          <input type="text"
                 class="control medium heading-l"
                 id="cid"
                 [(ngModel)]="cardholder.cid"
                 placeholder="e.g. 123"
                 required
                 minlength="3"
                 maxlength="3"
                 name="cid"
                 #cid="ngModel" />
          <!-- <div [hidden]="cardholder.cid.valid || cardholder.cid.pristine" class="alert alert-danger">
            Valid user Number is required
          </div> -->
        </div>
      </div>
      <button type="submit"
              class="heading-l"
              [disabled]="!f.valid"
              (click)="newCard()">
        Confirm
      </button>
    </form>
  </div>
</section>
